@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row" >
    @foreach (var product in Model)
    {
        <div class="col-lg-3  col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <div class="overflow-hidden">
                            <img src="@AppConstants.Paths.ProductImageFolder/@product.ImageUrl"
                                 class="rounded card-img-top img-hover-zoom" />
                        </div>
                        <div class="card-body pb-0">
                            <div class=" p-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title  text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div>
                                <p class=" text-dark text-opacity-75 text-center mb-0">List price: <span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span></p>
                            </div>
                            <div>
                                <p class=" text-dark text-opacity-75 text-center">As low as: <b>@product.Price100.ToString("c")</b></p>
                            </div>
                        </div>

                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">
                            <i class="bi bi-eye"></i> View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>